.footer{
    position: relative;
    bottom:0;
    width:100%;
    background-color: #191919;
    text-align: center;
    font-family: "Roboto Flex", monospace;
    font-style: normal;
    font-weight: 200;
    color:white;
    padding: 6px 0px;
    font-size: 10px;
    text-decoration: none;
    height: 2vh;
}