h3{
    color: #ffffff;
    font-family: "Roboto Flex", monospace;
    font-style: normal;
    font-weight: 300;
    font-size: 5vh;
    margin: 0;
}

h5{
    margin:10px 0;
    color: #ffffff;
    font-family: "Roboto Flex", monospace;
    font-style: normal;
    font-weight: 100;
    font-size: 2vh;
}

h6{
    color: #999999;
    font-family: "Roboto Flex", monospace;
    font-style: normal;
    font-weight: 300;
    font-size: 1.5vh;
    margin: 0;
}

.leftAligned{
    text-align: left;
}

.rightAligned{
    text-align: right;
}

.listTable {
    width:90%;
    padding-left: 20px;
    padding-right: 20px;
    padding:40px 20px;
    table-layout: auto;
    background-color: #151515;
    margin: 20px auto;
    border-radius: 20px;
}

.infoPreview p{
    margin: 10px 0 0 0;
    color: #999999;
    font-size: 2.5vh;
    font-family: "Roboto Flex", monospace;
    font-weight: 100;
    font-style: normal;
}

.imageCell {
    width: 40%;
    height: auto;
    padding-right:10px;
    padding-left:10px;
}

.imageCell img{
    width:100%;
}

.readMore{
    background-color: #292929;
    color: #999999;
    border-style: none;
    border-radius:5px;
    width: 20%;
    padding: 7px 10px 7px 10px;
    margin:auto;
    font-size: 2vh;
    font-family: "Roboto Flex", monospace;
    font-weight: 200;
    font-style: normal;
    cursor: pointer;
}

.readMore:hover{
    background-color: #5f576c;
    color:#ffffff;
}