.overlay h1{
    color: #ffffff;
    font-family: "Roboto Flex", monospace;
    font-style: normal;
    font-weight: 200;
    font-size: 5vw;
    margin: 0;
}

.overlay{
    position:fixed;
    width:100vw;
    height:100vh;
    top:0;
    left:0;
    right:0;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    text-align: center;
}

.infoPanel {
    position:relative;
    background-color: #403b49;
    margin: 100px auto auto auto;
    padding: 50px 5% 50px 5%;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 60vw;
    min-height: 60vh;
    text-align: center;
}

.extraInfoTable{
    padding-top: 20px;
    position: relative;
}

.fullInfo{
    text-align: left;
    padding-left:20px;
    margin-top:0px;
}

.fullInfo h6{
    color: #ffffff;
    font-family: "Roboto Flex", monospace;
    font-style: normal;
    font-weight: 300;
    font-size: 2vh;
}

.fullInfo h5{
    margin:10px 0;
    color: #ffffff;
    font-family: "Roboto Flex", monospace;
    font-style: normal;
    font-weight: 100;
    font-size: 2vh;
}

.fullInfo p{
    margin:2px auto 10px auto;
    font-family: "Titillium Web", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2vh;
    text-align: justify;
    color: #ffffff;
}

.closeOverlay{
    position:relative;
    background-color: #292929;
    color: #999999;
    left: 35%;
    border-style: none;
    border-radius:10px;
    width: 30%;
    padding: 12px 10px 10px 10px;
    margin:10px auto;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size:20px;
    cursor: pointer;
}

.closeOverlay:hover{
    background-color: #5f576c;
    color:#ffffff;
}